<section class="partial dashboard h100" layout="column" ng-cloak class="md-inline-form">
    <div class="fab-btn primary" data-ng-click="showAccountForm()">
        <i class="ion-plus"></i>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Account Manager</h1>
        </div>
    </div>
    <form class="row" name="AccountForm" novalidate="novalidate" data-ng-submit="addAccount(AccountForm.$valid)" autocomplete="off" data-ng-show="accountForm">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Account Name</label>
                                <input name="account_name" class="form-control" data-ng-model="account.name" data-ng-required="true">
                                <div data-ng-messages="AccountForm.account_name.$error" data-ng-if='AccountForm.$submitted || AccountForm.account_name.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Account Name Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch</label>
                                <input type="text" class="form-control" data-ng-model="account.branch">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control" data-ng-model="account.number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>IFSC Code</label>
                                <input type="text" class="form-control" data-ng-model="account.ifsc">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Account Balance</label>
                                <input type="text" class="form-control" name="account_balance" data-ng-model="account.balance" data-ng-pattern="/^[0-9]+$/" data-ng-required="true">
                                <div data-ng-messages="AccountForm.account_balance.$error" data-ng-if='AccountForm.$submitted || AccountForm.account_balance.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please Enter Account Balance</div>
                                    <div data-ng-message="pattern">Account balance cannot be string. Please enter integer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" data-ng-hide="update">Add Account</button>
                            <button type="button" class="btn btn-primary" data-ng-show="update" data-ng-click="updateAccount()">Update</button>
                            <button type="button" class="btn btn-default" data-ng-hide="update" data-ng-click="resetAccountForm()">Reset</button>
                            <button type="button" class="btn btn-default pull-right" data-ng-hide="update" data-ng-click="closeAccountForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-repeat="account in accounts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{account.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Branch</label>
                            <p>{{account.branch}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Account Number</label>
                            <p>{{account.number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>IFSC Code</label>
                            <p>{{account.ifsc}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Account Balance</label>
                            <p>{{account.balance}}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <span class="ion-compose edit-account-icon" data-ng-click="editAccount(account._id);"></span>
                    <span class="ion-trash-a del-account-icon offset-left-20" data-ng-click="deleteAccount(account._id)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-right">Total: {{accounts|sumByKey:'balance'}}</h2>
        </div>
    </div>
</section>