<section class="partial dashboard" data-ng-controller="AccountManagerController" layout="column" ng-cloak class="md-inline-form">
	<md-content layout-padding>
		<h1 class="md-title">Account Manager</h1>
		<form name="AccountForm">
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Account Name</label>
					<input data-ng-model="account.name" required="required">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Branch</label>
					<input data-ng-model="account.branch">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Account Number</label>
					<input data-ng-model="account.number">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>IFSC Code</label>
					<input data-ng-model="account.ifsc">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Account Balance</label>
					<input data-ng-model="account.balance" required="required">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-button class="md-raised md-primary" data-ng-hide="update" data-ng-click="addAccount()">Add Account</md-button>
				<md-button class="md-raised md-primary" data-ng-show="update" data-ng-click="updateAccount()">Update</md-button>
				<md-button class="md-raised" data-ng-hide="update">Reset</md-button>
			</div>
		</form>
	</md-content>
	<form class="row" name="AccountForm" novalidate="novalidate" ng-submit="addAccount()">
		<div class="col-md-12">
			<!-- <h1>Account Manager</h1> -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Account Name</label>
						<input type="text" class="form-control" data-ng-model="account.name" required="required">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Branch</label>
						<input type="text" class="form-control" data-ng-model="account.branch">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Account Number</label>
						<input type="text" class="form-control" data-ng-model="account.number">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>IFSC Code</label>
						<input type="text" class="form-control" data-ng-model="account.ifsc">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Account Balance</label>
						<input type="text" class="form-control" data-ng-model="account.balance" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-ng-hide="update">Add Account</button>
						<button type="button" class="btn btn-primary" data-ng-show="update" data-ng-click="updateAccount()">Update</button>
						<button type="reset" class="btn btn-default" data-ng-hide="update">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<tbody>
					<tr data-ng-repeat="account in accounts">
						<td>{{account.name}}</td>
						<td>{{account.branch}}</td>
						<td>{{account.number}}</td>
						<td>{{account.ifsc}}</td>
						<td>{{account.balance}}</td>
						<td><button type="button" class="btn btn-warning btn-sm" data-ng-click="editAccount(account._id);">Edit</button></td>
						<td><button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteAccount(account._id)">Del</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-right">Total: {{accounts|sumByKey:'balance'}}</h2>
		</div>
	</div>
</section>