<section class="partial dashboard">
    <div class="fab-btn primary" data-ng-click="showExpenseForm()">
        <i class="ion-plus"></i>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Expense Manager</h1>
        </div>
    </div>
    <form class="row" name="ExpenseForm" novalidate="novalidate" data-ng-submit="addExpense(ExpenseForm.$valid)" autocomplete="off" data-ng-show="expenseForm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Account</label>
                                <select name="expense_account" class="form-control" data-ng-options="account as account.name for account in accounts" data-ng-model="expense.selectedAccount" data-ng-required="true">
                                    <option value="">Select</option>
                                </select>
                                <div data-ng-messages="ExpenseForm.expense_account.$error" data-ng-if='ExpenseForm.$submitted || ExpenseForm.expense_account.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please select an account</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label data-ng-if="expense.selectedAccount.name!=null">Account Balance for {{expense.selectedAccount.name}}</label>
                            <h2 class="offset-null">{{expense.selectedAccount.balance}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="datePicker" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input name="expense_date" type="text" class="form-control" data-ng-model="expense.date" data-ng-required="true" data-date-time-input="DD-MMM-YYYY">
                                            <span class="input-group-addon">
                                                <i class="ion-android-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="expense.date" data-datetimepicker-config="{ dropdownSelector: '#datePicker', startView:'day', minView:'day' }"/>
                                    </ul>
                                </div>
                                <div data-ng-messages="ExpenseForm.expense_date.$error" data-ng-if='ExpenseForm.$submitted || ExpenseForm.expense_date.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please select a date</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select name="expense_type" class="form-control" data-ng-options="expense as expense.name for expense in expenseTypes" data-ng-model="expense.selectedExpenseType" data-ng-required="true">
                                    <option value="">Select Transaction Type</option>
                                </select>
                                <div data-ng-messages="ExpenseForm.expense_type.$error" data-ng-if='ExpenseForm.$submitted || ExpenseForm.expense_type.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please select expense type</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expense Title</label>
                                <input name="expense_title" type="text" class="form-control" data-ng-model="expense.title" data-ng-required="true">
                                <div data-ng-messages="ExpenseForm.expense_title.$error" data-ng-if='ExpenseForm.$submitted || ExpenseForm.expense_title.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please enter expense title</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount</label>
                                <input name="expense_amount" type="text" class="form-control" data-ng-model="expense.amount" data-ng-required="true">
                                <div data-ng-messages="ExpenseForm.expense_amount.$error" data-ng-if='ExpenseForm.$submitted || ExpenseForm.expense_amount.$dirty' class="validation-msg">
                                    <div data-ng-message="required">Please enter expense amount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Add Expense</button>
                            <button type="button" class="btn btn-default pull-right" data-ng-click="closeExpenseForm()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> 
    <div class="row" data-ng-if="expenses.length!=0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Account</th>
                            <th>Transaction Type</th>
                            <th>Amount</th>
                            <th>Old Balance</th>
                            <th>New Balance</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="expense in expenses | orderBy:'-_id'">
                            <td>{{expense.date | date:'dd-MMM-yyyy'}}</td>
                            <td>{{expense.title}}</td>
                            <td>{{expense.account.name}}</td>
                            <td>{{expense.type}}</td>
                            <td>
                                <span ng-switch="expense.type">
                                    <span ng-switch-when="Credit">+</span>
                                    <span ng-switch-when="Debit">-</span>
                                </span>
                                {{expense.amount}}
                            </td>
                            <td>{{expense.old_balance}}</td>
                            <td>{{expense.new_balance}}</td>
                            <td>
                                <span class="ion-trash-a del-account-icon" data-ng-click="deleteExpense(expense._id, expense.account._id, expense.type, expense.account.balance, expense.amount)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <script type="text/ng-template" id="accountUpdateModal.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Do you want to update account</h3>
                    </div>
                    <div class="modal-body">
                        Modal Body
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="ok()">Update Account</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Don't Update Account</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</section>