<section class="partial dashboard" data-ng-controller="ExpenseManagerController">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Expense Manager</h1>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Select Account</label>
						<select class="form-control" data-ng-options="account as account.name for account in accounts track by account._id" data-ng-model="expense.selectedAccount">
							<option value="">Select Account</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<label>Account Balance for {{expense.selectedAccount.name}}</label>
					<h1 class="offset-null">{{expense.selectedAccount.balance}}</h1 class="offset-null">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Date</label>
						<input type="text" class="form-control" data-ng-model="expense.date">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Transaction Type</label>
						<select class="form-control" data-ng-options="expense as expense.name for expense in expenseTypes" data-ng-model="expense.selectedExpenseType">
						<option value="">Select Transaction Type</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Expense Title</label>
						<input type="text" class="form-control" data-ng-model="expense.title">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Amount</label>
						<input type="text" class="form-control" data-ng-model="expense.amount">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary" data-ng-click="addExpense()">Add Expense</button>
				</div>
			</div>
		</div>
	</div>
	<div class="spacer-md"></div>
<!-- 	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<tbody>
					<tr data-ng-repeat="account in accounts | orderBy:'-_id'">
						<td>{{account.name}}</td>
						<td>{{account.branch}}</td>
						<td>{{account.number}}</td>
						<td>{{account.ifsc}}</td>
						<td>{{account.balance}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->
	<div class="spacer-md"></div>	
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th>Account</th>
						<th>Transaction Type</th>
						<th>Amount</th>
						<th>Old Balance</th>
						<th>New Balance</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="expense in expenses | orderBy:'-_id'">
						<td>{{expense.date}}</td>
						<td>{{expense.title}}</td>
						<td>{{expense.account.name}}</td>
						<td>{{expense.type}}</td>
						<td>
							<span ng-switch="expense.type">
								<span ng-switch-when="Credit">+</span>
								<span ng-switch-when="Debit">-</span>
							</span>
							{{expense.amount}}
						</td>
						<td>{{expense.old_balance}}</td>
						<td>{{expense.new_balance}}</td>
						<td><button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteExpense(expense._id)">Del</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>